body{
    background-color: lemonchiffon;
    font-family: Arial, Helvetica, sans-serif;
    h2{
        background-color: lightsalmon;
        padding: 10px;
    }
}

#container1{
    background-color: lavender;
    width: 49%;
    height: 150px;
    margin: 0px auto;
    border: 1px solid black;
    text-align: center;
    float: left;
}

#container2{
    background-color: lavender;
    width: 49%;
    height: fit-content;
    margin: 0px auto;
    border: 1px solid black;
    float: right;
    text-align: center;
    ul{
        list-style: none;
        margin: 10px;
    }
}

#container3{
    background-color: lavender;
    width: 47%;
    height: fit-content;
    margin: 0px auto;
    border: 1px solid black;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;

    ul li{
        list-style: none;
        margin: 10px;
        margin-right: 85px;
        float: left;
    }

.article{
    margin-bottom: 50px;
    border-bottom: solid lightslategray;

}
}